<div>
  <form [formGroup]="addform" class="row mt-5 mb-5">
    <div class="col-12">
      <h5>Добавить товар</h5>
    </div>
    <div class="col-sm-3 col-7">
      <input type="text" class="form-control" placeholder="Наименование" [(ngModel)]="title" formControlName="title" />
    </div>
    <div class="col-sm-2 col-5">
      <input type="number" class="form-control" placeholder="Количество" [(ngModel)]="count" formControlName="count" />
    </div>
    <div class="col-12 mt-1">
      <button class="btn btn-primary btn-sm mt-2" [disabled]="!addform.valid" (click)="onAddProduct()">Добавить</button>
    </div>
  </form>
</div>
