<div class="container-fluid mt-5">
    <form [formGroup]="productForm" class="col-10 col-sm-5 m-auto">
      <div class="form-group">
        <label for="productname">Наименование</label>
        <input type="text" class="form-control" id="productname" placeholder="Наименование" formControlName="title" />
      </div>
      <div class="form-group">
        <label for="count">Количество</label>
        <input type="number" id="count" class="form-control" formControlName="count" />
      </div>
      <div class="form-group">
        <label for="status">Статус</label>
        <input type="checkbox" id="status" class="form-check" formControlName="status" />
      </div>
      <button class="btn btn-primary mr-4" [disabled]="productForm.invalid" (click)="onSave()">
        Сохранить
      </button>
      <button class="btn btn-danger" *ngIf="id != null" (click)="onDelete()">Удалить</button>
    </form>
  </div>
  