<div class="main container">
  <h1>Главная страница</h1>
  <div class="main__info">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum consequuntur dolore quis culpa, fugit
      voluptatibus nemo reiciendis vel accusamus molestiae atque, dolorum animi repudiandae ullam a sint, ipsum facere
      repellendus nam quasi natus rerum iure. Deleniti voluptatum excepturi tempore error rem voluptatem, consequuntur
      eos quam. Ipsa est praesentium veniam maiores velit voluptates eum nulla incidunt, assumenda quo molestiae in
      aliquid sed nam eligendi dignissimos, rerum, earum similique? Aliquam ipsam a ducimus vero iste ab doloribus
      recusandae laudantium praesentium? Enim libero commodi quidem vel doloribus consectetur ut voluptatem excepturi
      molestiae. Optio neque dolor inventore minima nostrum eius nobis doloribus voluptatibus accusantium quaerat velit
      vero harum in magni, obcaecati odit beatae fugiat, ut adipisci facilis. Libero animi voluptatibus similique
      deleniti qui ipsam ab provident repellat laudantium. Eos sequi fugit magnam nam libero quos est non, mollitia
      quisquam, laborum nisi iusto delectus illum excepturi. Architecto nihil aut, fugiat sint fuga veritatis error
      sapiente deleniti alias consequuntur, totam fugit possimus unde quos ea repellat provident aliquid quas delectus
      voluptas, saepe impedit. Necessitatibus, aperiam. Architecto nostrum modi quibusdam eveniet ex aliquid iusto
      doloremque. Delectus deleniti voluptatem nesciunt deserunt nemo at nihil ea fuga quod a reiciendis consequuntur
      eaque magni, accusamus temporibus? Unde minima iure distinctio!</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, inventore nam tempore illum rem dolorum, natus
      quos deleniti veritatis ut aut assumenda animi error praesentium, nemo reiciendis necessitatibus explicabo. Quasi
      atque fugit magni dolore excepturi, minima impedit omnis, architecto beatae cum accusamus similique explicabo
      eligendi quisquam sunt placeat cupiditate minus quidem, fugiat pariatur veniam neque. Neque, animi quam. Quod
      recusandae rem iusto ipsa error, vel est excepturi quibusdam porro facere, optio aperiam laboriosam delectus!
      Accusamus rem autem quod inventore fugit, modi cupiditate odit perferendis suscipit. Voluptatum enim velit cum,
      mollitia eum veniam quibusdam aliquid sequi reiciendis explicabo nemo. Iste, impedit?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, consequuntur. Distinctio ullam est maiores sunt
      earum, unde dolorem quod quasi.</p>
  </div>
</div>
